# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\bigri\Documents\Lambda\Computer-Science\w4-hash-tables\daily-projects\001-cs-module-project-hash-tables\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
